label:focus{
    outline: none;
}










/* Responsive */
@media screen and (max-width:576px){
    #dynamic-videos{
        grid-template-columns: repeat(1, 1fr);
    }
    #dynamic-buttons{
        flex-wrap: wrap;
    }
    
    #text-one{
        display: none;
    }
}